@import 'src/global/styles/colors';

.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    width: 100%;
    border: 1px solid $input-border;
    border-radius: 4px;
    padding: 12px;
    color: $input-color;

    &::placeholder {
      color: $input-placeholder-color;
      font-size: 14px;
      line-height: 19px;
    }
  }

  .MuiFormControl-root {
    width: 100%;
    border: none;

    .MuiInputBase-root {
      border: 1px solid $input-border;
      border-radius: 4px;

      &.Mui-focused {

      }

      .MuiInputBase-input {
        padding: 12px;
        color: $input-color;

        &::placeholder {
          color: $input-placeholder-color;
          font-size: 14px;
          line-height: 19px;
        }
      }

      .MuiInputAdornment-root {
        .MuiButtonBase-root {
          .MuiSvgIcon-root {
            color: $input-icon-color;
          }
        }
      }

      .MuiOutlinedInput-notchedOutline {
        border: none;
      }
    }
  }
}
