$table-border: #edeef3;
$table-border--focus: #3171e2;
$table-header-color: #323338;


$library-cell--border: #e4e3e2;


$input-border: #edeef3;
$input-color: #323338;
$input-placeholder-color: #9799a5;
$input-icon-color: #3171e2;


$input-search-background: #ffffff33;
$input-search-text-color: #fff;
$input-search-placeholder-color: #fff;
$input-search-focus-btn-color: #ffffff66;
$input-search-results-backgrounds: #fff;
$input-search-results-border: #edeef3;
$input-search-results-focused: #edeef3;
$input-search-results-color: #323338;
$input-search-results-focused-background: #3171e2;
$input-search-results-focused-color: #fff;


$header-background: #2a2f4b;

$navigation-background: #fbfbfb;
$navigation-border: #edeef3;
$navigation-item-background__hover: #edeef3;
$navigation-item-background__active: #3171e2;
$navigation-icon-color: #000;

$btn-text-color-primary: #fff;
$btn-text-color-secondary: #323338;
$btn-background-color-primary: #3171e2;
$btn-background-color-secondary: #fff;
$btn-border-color-primary: #3171e2;
$btn-border-color-secondary: #edeef3;