$table-border: #000;
$table-border--focus: #3171e2;
$table-header-color: #323338;

$library-cell--border: #e4e3e2;

$input-border: #edeef3;
$input-color: #323338;
$input-placeholder-color: #9799a5;
$input-icon-color: #3171e2;