@import 'src/global/styles/colors';

.document-page-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .document-page--content {
    width: 100%;

    .input-group {
      width: 100%;
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px;
    }
  }
}
