@import 'src/global/styles/colors';

.search-wrapper {
  position: relative;

  .search-input--wrapper {
    width: 215px;
    position: relative;
    transition: .3s;

    &.focused {
      width: 350px;

      & ~ .search--suggestions-wrapper {
        min-width: 350px;
      }
    }

    .search-input {
      width: 100%;
      border: none;
      background-color: $input-search-background;
      padding: 8px 12px;
      border-radius: 4px;
      color: $input-search-text-color;
      font-size: 14px;
      line-height: 19px;
      transition: .3s;

      &::placeholder {
        color: $input-search-placeholder-color;
      }

      &:focus {
        border-radius: 4px 4px 0 0;
      }
    }

    .search-input--icons {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .focus-button-icon {
        width: 19px;
        height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $input-search-focus-btn-color;
        border: 1px solid $input-search-focus-btn-color;
        border-radius: 2px;
        font-size: 14px;
        line-height: 19px;

        span {
          margin-bottom: 2px;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        color: $input-search-text-color;
      }
    }
  }

  .search--suggestions-wrapper {
    z-index: 100;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: $input-search-results-backgrounds;
    width: fit-content;
    min-width: 215px;
    max-width: 100%;
    transition: .3s;

    .suggestions-list {
      list-style: none;
      border-bottom: 1px solid $input-search-results-border;
      border-radius: 0 0 4px 4px;

      .suggestions-item {
        display: block;

        .suggestions-item__link {
          display: block;
          width: 100%;
          height: 100%;
          padding: 8px 12px;
          position: relative;
          border-right: 1px solid $input-search-results-border;
          border-left: 1px solid $input-search-results-border;

          .link__text {
            padding-right: 35px;
            color: $input-search-results-color;
          }

          .link__control-icon {
            display: none;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            padding: 2px;
            border: 1px solid $input-search-results-border;
            border-radius: 4px;
            color: $input-search-results-border;
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
          }

          &:hover, &:focus, &.active {
            background-color: $input-search-results-focused-background;
            border-right: 1px solid $input-search-results-focused-background;
            border-left: 1px solid $input-search-results-focused-background;

            .link__text {
              color: $input-search-results-focused-color;
            }
          }

          &:focus, &.active {
            .link__control-icon {
              display: flex;
            }
          }
        }

        &:not(:first-child) {
          .suggestions-item__link {
            border-top: 1px solid $input-search-results-border;
          }
        }

        &:last-child {
          .suggestions-item__link {
            border-radius: 0 0 4px 4px;
          }
        }
      }
    }
  }
}