@import 'src/global/styles/colors';

.table-wrapper {
  width: 100%;
  flex: 1 1;
  position: relative;

  .table-body {
    .table-layout {
      .table--header-layout {
        border: 1px solid $table-border;
        border-bottom:  none;

        .table--header-wrapper {
          .table--header {
            width: 100%;
            display: flex;
            flex-flow: row;

            .table--header-cell {
              width: 100%;

              &:not(:last-child) {
                border-right: 1px solid $table-border;
              }

              .table--header-cell__content {
                padding: 12px;
                color: $table-header-color;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
              }
            }
          }
        }
      }

      .table--virtual-list {
        .table--scroll-container-wrapper {
          overflow-y: auto;

          .table--row {
            display: flex;
            flex-flow: row;
            border: 1px solid $table-border;
            position: relative;

            &:focus {
              border: 1px solid $table-border--focus;
              z-index: 10;
            }

            &:not(:first-child) {
              margin-top: -1px;
            }

            .table--row-cell-wrapper {
              display: flex;

              .table--row-cell {
                border-right: 1px solid $table-border;
                width: 100%;
                min-height: 42px;
                padding: 12px;
                position: relative;

                .table--row-cell__focus {
                  position: absolute;
                  left: -1px;
                  top: -1px;
                  width: calc(100% + 2px);
                  height: calc(100% + 2px);
                  border: 1px solid $table-border--focus;
                  z-index: 10;
                  display: none;
                }

                .table--row-cell__content {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  z-index: 100;

                  .content-container {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    padding: 0 24px;
                    white-space: nowrap;
                  }
                }

                .table--row-cell__input {
                  position: absolute;
                  left: -1px;
                  top: -1px;
                  width: calc(100% + 2px);
                  height: calc(100% + 2px);
                  border: none;
                  outline: none;
                  background-color: transparent;
                  z-index: 10;
                  padding: 0 12px;

                  &:focus {
                    border: 1px solid $table-border--focus;
                  }
                }

                &:focus {
                  .table--row-cell__focus {
                    display: block;
                  }
                }
              }

              &:last-child {
                .table--row-cell {
                  &:last-child {
                    border-right: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}